<footer class="bg-dark text-white pb-4">
    <hr>
    <div class="container text-md-left">
        <div class="row text-md-left">
            <div class="col-12 col-md-4">
                <h5>Acerca de la pagina</h5>
                <p>Veniam veniam in nulla dolor nisi consequat excepteur irure ad consectetur duis enim. Veniam veniam in nulla dolor nisi consequat excepteur irure ad consectetur duis enim.</p>
            </div>
            <div class="col-12 col-md-4">
                <h5>Redes sociales</h5>
                <a href="" class="text-white me-3"><i class="fa-solid fa-star"></i></a>
                <a href="" class="text-white me-3"><i class="fa-solid fa-star"></i></a>
                <a href="" class="text-white me-3"><i class="fa-solid fa-star"></i></a>
                <a href="" class="text-white me-3"><i class="fa-solid fa-star"></i></a>
            </div>
            <div class="col-12 col-md-4">
                <h5>Contactanos</h5>
                <p>hector@unimar.edu.ve</p>
                <p>+58 412 123-4567</p>
                <p>Nueva Esparta, Venezuela</p>
            </div>
        </div>
    </div>
</footer>